<br />
<h1
  class="text-center display-1"
  style="
    font: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  "
>
  CART
</h1>
<!--
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Cart Id</th>
      <th scope="col">Productid</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Quantity</th>
      <th scope="col">Delivery Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of CartList">
      <td scope="col">{{ product.cartId }}</td>
      <td scope="col">{{ product.productId }}</td>
      <td scope="col">{{ product.zipcode }}</td>
      -->

<!-- <td scope="col"><img [src]={{product.image_Name}}></td>-->

<!-- <td scope="col">{{ product.quantity }}</td>
      <td scope="col">{{ product.deliveryDate }}</td>

      <button
        (click)="DeletecartbyId(product.cartId)"
        class="mr-l btn btn-light btn-outline-primary"
        type="button"
      >
        Delete
      </button>
    </tr>
  </tbody>
</table>
-->
<table mat-table [dataSource]="CartList" class="mat-elevation-z8 demo-table">
  &nbsp;
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let cart">{{ cart.cartId }}</td>
  </ng-container>
  <mat-divider [vertical]="true"></mat-divider>
  &nbsp;
  <ng-container matColumnDef="Productid">
    <th mat-header-cell *matHeaderCellDef>Productid</th>
    <td mat-cell *matCellDef="let cart">{{ cart.productId }}</td>
  </ng-container>
  <mat-divider [vertical]="true"></mat-divider>
  &nbsp; &nbsp; &nbsp;
  <ng-container matColumnDef="Zip Code">
    <th mat-header-cell *matHeaderCellDef>Zip Code</th>
    <td mat-cell *matCellDef="let cart">{{ cart.zipcode }}</td>
  </ng-container>
  <mat-divider [vertical]="true"></mat-divider>
  &nbsp;
  <ng-container matColumnDef="Quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let cart">{{ cart.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="Delivery Date">
    <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
    <td mat-cell *matCellDef="let cart">{{ cart.deliveryDate }}</td>
  </ng-container>
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let cart">
      <button
        (click)="DeletecartbyId(cart.cartId)"
        class="mr-l btn btn-light btn-outline-primary"
        type="button"
      >
        Delete
      </button>
    </td>
  </ng-container>
  <mat-divider [vertical]="true"></mat-divider>

  &nbsp;
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<br />
<br />
<br />
<br />
<div class="form-group row">
  <!--  <div class="col-sm-6">
        <input type="text" [(ngModel)]="searchValue" class="form-control" id="searchBox">
        <input type="submit" (onClick)="refreshProductListbySearchName()" class="form-control">
    </div>-->
  <button
    (click)="deleteCart(userId)"
    class="mr-l btn btn-light btn-outline-primary"
    type="button"
  >
    Delete All
  </button>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
