<div class="wrapper">
  <div class="wrapped-div">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="jumbotron jumbotron-fluid">
          <h1 routerLinkActive="active" class="text-center display-1">
            Sign In
          </h1>
          <router-outlet></router-outlet>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br /><br /><br /><br /><br /><br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
